extends layout

block content
	#top
		h1 Leaderboard
		
		table
			tr
				td		User
				td		"Number of Victories"
			each num, user in users
				tr
					td #{num.username}
					td #{num.numVictories}
		

	
