extends layout

block content
	#top
		h1 New Password
		-		if(error)
				div.alert-error #{error}		
		form(method='post', action='/newPassword')
			p Old Password
			input(type='password', name='oldPassword')
			br
			p New Password
			input(type='password', name='newPassword')
			br
			p Re-type New Password
			input(type='password', name='newPassword2')
			br
			button(type='submit') Submit